@using Clases


<h1>Registro de Clientes</h1>


<form method="post">

    <input type="text" name="Nombre" placeholder="Nombre" />
    <br />
    <input type="text" name="Apellido" placeholder="Apellido" />
    <br />
    <input type="text" name="Email" placeholder="Email" />
    <br />
    <input type="text" name="Contrasenia" placeholder="Contraseña" />
    <br />
    <input type="submit" value="Crear Cliente" />
</form>

<p>@ViewBag.Msg</p>