
<h1>Login</h1>

<form method="post">
	<input type="text" name="Email" placeholder="Email" />
	<br />
	<input type="text" name="Password" placeholder="Pass" />
	<br />

	<input type="submit" value="Login" />
	@Html.ActionLink("Crear Nuevo Usuario", "Create", "UsuarioController")
</form>

<p>@ViewBag.Msg</p>