
<h1>Login</h1>

<form method="post">
	<input type="text" name="Email" placeholder="Email" value="juan.perez@example.com" />
	<br />
	<input type="text" name="Contrasenia" placeholder="Pass" value="pass123"/>
	<br />

	<input type="submit" value="Login" />
	@Html.ActionLink("Crear Nuevo Usuario", "Create", "Cliente")
</form>

<p>@ViewBag.Msg</p>