
@model Clases.Publicacion


<h1>TIPO DE PUBLICACION</h1>
<h2>@Model.Nombre</h2>
<table class="table table-dark table-striped">

    <tr>
        <th>Articulos</th>
        <th>Precio</th>
        <th>Mejor Oferta</th>
    </tr>

@*     @foreach (Articulo a in Model._listaArticulos)
    {
        <tr>
            <td></td>
        </tr>
    } *@

</table>
